[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
requests = "*"
apache-airflow = "==2.7.3"
apache-airflow-providers-amazon = "*"
apache-airflow-providers-google = "==10.1.0"
apache-airflow-providers-snowflake = "*"
dbt-core = "*"
dbt-snowflake = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.6"
